<div class="message" id="<%= dom_id message %>">
  <p class="message-published">
    <strong>Published:</strong>
    <%= message.published %>
  </p>

  <p class="message-sender">
    <strong>Sender:</strong>
    <%= message.sender %>
  </p>

  <p class="message-content">
    <strong>Content:</strong>
    <%= message.content %>
  </p>
</div>
